<ion-view title="" id="page6" ng-class="postType">
	<ion-content padding="true" class="padding-vertical" class="col col-center" style="text-align:center" >
		<img src="img/mpower.png" width="70%"></img>
		<div id="tagline" style="text-align:center;" class="show-list-numbers-and-dots">
			<p style="color:#8cc531;font-size:12px;">acceptance.<span style="color:#d62b25;font-size:12px;"> accessibility.</span><span style="color:#79c3ef;font-size:12px;"> advocacy.</span></p>
		</div>
		<div id="description" style="text-align:justify;padding:20px;" class="show-list-numbers-and-dots">
			<p style="color:#FFFFFF;">Mpower is created to engage the Body of Christ in the lives of children and adults and their families, who have been affected by disabilities. The Biblical mandate requires that we welcome, encourage, and empower them; and integrate these friends
				into the Body, inviting them to become part of His Kingdom.</p>
		</div>
		<ion-list id="share-or-contact">
			<ion-item class="item-icon-left stable" id="contact" ng-click="email()">
				<i class="icon ion-ios-email"></i>Get in touch</ion-item>
			<ion-item class="item-icon-left stable" id="share" ng-click="share()">
				<i class="icon ion-android-share-alt"></i>Share the app</ion-item>
		</ion-list>
		<div class="spacer" style="height: 5%;"></div>
		<div id="copyright" style="padding-top:10px" class="show-list-numbers-and-dots">
			<p style="color:#FFFFFF;">Content (c) proVISION ASIA.</p>
		</div>
		<div style="text-align:center;">
			<a id="additional-resources" style="color:#FFFFFF;" class="button button-light button-small button-outline" ng-click="bugReport()">
				<i class="icon-small ion-bug"></i>&emsp; Report a bug
			</a>
		</div>
	</ion-content>
</ion-view>
